APP_NAME=Providnyk
APP_ENV=local
APP_KEY=XXXXXXXXXX
APP_DEBUG=true
APP_URL=http://pr.max
APP_LOCALE=uk
APP_THEME=providnykV1
APP_EST=2019

LOG_CHANNEL=stack

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=XXXXXXXXXX
DB_USERNAME=XXXXXXXXXX
DB_PASSWORD=XXXXXXXXXX

PSC_DB_CONNECTION=mysql
PSC_DB_DATABASE=XXXXXXXXXX
PSC_DB_USERNAME=XXXXXXXXXX
PSC_DB_PASSWORD=XXXXXXXXXX
PSC_DB_HOST=127.0.0.1
PSC_DB_PORT=3306
PSC_DB_PREFIX=pr

USU_DB_CONNECTION=mysql
USU_DB_DATABASE=XXXXXXXXXX
USU_DB_USERNAME=XXXXXXXXXX
USU_DB_PASSWORD=XXXXXXXXXX
USU_DB_HOST=127.0.0.1
USU_DB_PORT=3306

BROADCAST_DRIVER=log
CACHE_DRIVER=file
SESSION_DRIVER=file
SESSION_LIFETIME=120
QUEUE_DRIVER=sync

COOKIE_CONSENT_ENABLED=true

MAIL_DRIVER=sendmail
MAIL_FROM_ADDRESS=no-reply@provodnik.online
MAIL_FROM_NAME="ГО «Дебати заради змін»"
MAIL_TO_ADDRESS=provodniktech@gmail.com
MAIL_TO_NAME="ГО «Дебати заради змін»"

GOOGLE_RECAPTCHA_V2_SITE_KEY=XXXXXXXXXX
GOOGLE_RECAPTCHA_V2_SECRET=XXXXXXXXXX
GOOGLE_RECAPTCHA_V3_SITE_KEY=XXXXXXXXXX
GOOGLE_RECAPTCHA_V3_SECRET=XXXXXXXXXX
GOOGLE_MAPS_API_KEY=XXXXXXXXXX

ANALYSIS_GOOGLE_TAG=XXXXXXXXXX
ANALYSIS_GOOGLE_ANALYTICS=XXXXXXXXXX
