/*Cookie Consent Begin*/






.js-cookie-consent.cookie-consent {
    color: rgb(99, 99, 99);
    background-color: rgb(254, 255, 156);
    border-style: solid;
    border-width: 1px;
    border-color: rgb(254, 255, 156);
    border-radius: 0px;
    -ms-flex-align: center;
    align-items: center;
    padding: 1em 1.8em;
    width: 100%;
    -ms-flex-direction: row;
    flex-direction: row;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 1;
    position: fixed;
    /* overflow: hidden; */
    box-sizing: border-box;
    font-family: Helvetica,Calibri,Arial,sans-serif;
    font-size: 16px;
    line-height: 1.5em;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    z-index: 9999;
}






.js-cookie-consent.cookie-consent .cookie-consent__message::before {
    content: '';
    height: 165px;
    width: 140px;
    position: absolute;
    top: -80px;
    left: 20px;
    background: url(/images/cookies.svg) no-repeat 50% 50%;
    background-size: auto;
    background-size: 160px;
}


.js-cookie-consent.cookie-consent .cookie-consent__message {
    word-wrap: break-word;
    display: block;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    max-width: 100%;
    margin-right: 1em;
    margin-left: 10em;
}







.cookie-consent__message a {
    opacity: .8;
    display: inline-block;
    padding: .2em;
    text-decoration: underline;
}

.cookie-consent__message a,
.cookie-consent__message a:active,
.cookie-consent__message a:visited {
    color: rgb(99, 99, 99);
}









.js-cookie-consent.cookie-consent .consent-choices {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-line-pack: justify;
    align-content: space-between;
}









.js-cookie-consent.cookie-consent .consent-choices button {
    color: rgb(255, 255, 255);
    border-color: rgb(42, 150, 0);
    background-color: rgb(97, 206, 112);
    display: block;
    padding: .4em .8em;
    font-size: .9em;
    font-weight: 700;
    text-decoration: none;
    border-radius: 5px;
    border-width: 2px;
    border-style: solid;
    text-align: center;
    white-space: nowrap;
    cursor: pointer;
}

.js-cookie-consent.cookie-consent .consent-choices button.js-cookie-consent-later {
    color: #636363;
    background-color: #feff9c;
    border-color: #feff9c;
}

.js-cookie-consent.cookie-consent .consent-choices button.js-cookie-consent-later span sup {
    font-weight: 100;
}


.js-cookie-consent.cookie-consent .consent-choices button:first-child {
    color: rgb(99, 99, 99);
}
.js-cookie-consent.cookie-consent .consent-choices button:first-child:hover {
    background-color: #fbfcc9;
    color: black;
}

.js-cookie-consent.cookie-consent .consent-choices button:last-child {
    min-width: 140px;
}

.js-cookie-consent.cookie-consent .consent-choices button:last-child:hover {
    background-color: #2a9600;
    border-color: black;
}












.js-cookie-consent.cookie-consent .consent-choices button.js-cookie-consent-agree {
    color: #ffffff;
    background-color: #61ce70;
    border-color: #2a9600;
}

.js-cookie-consent.cookie-consent .consent-choices button+button {
    margin-left: .5em;
}






@media only screen and (max-width: 700px) {
  .js-cookie-consent.cookie-consent .cookie-consent__message,
  .js-cookie-consent.cookie-consent .consent-choices,
  .js-cookie-consent.cookie-consent {
    clear: both;
    display: block;
    float: right;
  }
}




/*Cookie Consent End*/
