@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap&subset=cyrillic');
@charset "UTF-8";
*,:before,:after{box-sizing: border-box}
html{min-height: 100vh;}
body{position:relative;
	/* sticky footer */ min-height:100vh;display:flex;flex-direction:column;
	overflow:auto;overflow-x:hidden;margin:0;padding:0;word-wrap:break-word;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;-webkit-tap-highlight-color:rgba(0,0,0,0);-webkit-overflow-scrolling:touch;-ms-touch-action:manipulation;touch-action:manipulation}
article,aside,details,figcaption,figure,footer,header,main,menu,nav,section,summary{display:block}
video,audio,canvas{display:inline-block}
span{display:inline-block}
a,input,button,textarea,optgroup,select,fieldset,figure,legend,address{font:inherit;color:inherit;line-height:inherit;text-transform:inherit;text-shadow:inherit;border:none;background:none;box-shadow:none;border-radius:0;margin:0;padding:0}
a,button,[type='button'],[type='submit']{transition:color .25s;background:.25s;opacity:.25s}
a{cursor:pointer;text-decoration:none;-webkit-text-decoration-skip:none}
button{overflow:visible;-webkit-font-smoothing:inherit;letter-spacing:inherit}
p{margin:0;-ms-hyphens:auto;-moz-hyphens:auto;-webkit-hyphens:auto;hyphens:auto;overflow:hidden}
b,strong{font-weight:700}
img,svg,embed,object,iframe,video,audio,canvas{border:0;vertical-align:middle;max-width:100%;height:auto}
img{image-rendering:optimizeQuality}
svg{color:inherit}
svg:not(:root){overflow:hidden}
progress{vertical-align:baseline}
h1,h2,h3,h4,h5,h6{text-rendering:optimizeLegibility;font:inherit;color:inherit;margin:0}
ul,ol,menu{margin:0;padding:0;list-style:none}
input,select,button,button > *,a > *{display:inline-block;vertical-align:top}
button,label,select,summary,[type='button'],[type='submit'],[type='reset'],[type='checkbox'],[type='radio'],[type='range']{user-select:none;cursor:pointer}
[type='button'],[type='submit'],[type='search'],[type="radio"],[type='range'],::-webkit-search-cancel-button,::-webkit-search-decoration,::-webkit-outer-spin-button,::-webkit-inner-spin-button,::-webkit-slider-thumb{-webkit-appearance:none}
::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}
::-webkit-contacts-auto-fill-button,::-webkit-credentials-auto-fill-button{visibility:hidden;pointer-events:none;position:absolute;right:0}
:-webkit-autofill{box-shadow:inset 0 0 0 1000px #fff}
::-webkit-details-marker{display:none}
[type="radio"]{-webkit-appearance:radio}
[type='number']{-moz-appearance:textfield}
::-ms-clear,::-ms-reveal{display:none}
input,textarea{width:100%;color:#272727}
input{text-overflow:ellipsis}
textarea{overflow:auto;resize:none}
:active,:hover,:focus{outline:0;outline-offset:0}
:disabled{pointer-events:none}
::-moz-focus-outer,::-moz-focus-inner{border:0;padding:0}
::placeholder,::-moz-placeholder{opacity:1;color:#7f7f7f}

.grecaptcha-badge{bottom: 50px !important}

.wow { visibility: hidden; }

html, body {background-color:#fff;width:100%;overflow-x:hidden;font-weight: 400;color:#383838;background-color: #f7f8f9;}
html.modal_opened,
body.modal_opened {overflow: hidden !important;}
p {font-size: 18px;line-height:1.33;margin-bottom:1em;overflow:visible;color: #383838;}
h1 {font-size: 30px;line-height:1.33;margin-bottom:1em;font-weight: 900;color: #383838;}
a {cursor:pointer;color:#383838;}
button {cursor:pointer;}

img {max-width: 100%;}
.container {display: block;width:1030px;margin:0 auto;position:relative;padding:0 15px;}
.container.fullwidth {width:100%;max-width:100%;padding:0 40px;}
.container::before {display: table;width:100%;clear: both;content: '';}
.container::after {display: table;width:100%;clear: both;content: '';}
.divider {clear:both;}
.flexwrap {
	display: flex;
	justify-content: space-between;
	align-content: center;
	-webkit-display: flex;
	-webkit-justify-content: space-between;
	-webkit-align-content: center;
}


header {
	top:0;
	left: 0;
	z-index: 99;
	width: 100%;
	height: 75px;
	box-shadow: 0 0 40px 0 rgba(82, 85, 114, 0.2);
	background-color: #ffffff;
	padding: 11px 0;
}
header .open_menu,
header .language,
header .socials {
	display:none;
}
header nav ul {
	padding:0 0;
	margin:0 0;
	list-style: none;
}
header nav ul li {
	display: inline-block;
	vertical-align: top;
}
header nav ul li a {
	display: block;
	padding:16px;
	font-size: 18px;
	font-weight: bold;
	line-height: 20px;
	letter-spacing: -0.34px;
	color: #202437;
}
header nav ul li a.blue {
	color: #1958fb;
}
header nav ul li a.green {
	color: #21cd73;
}
header nav ul li a.violet {
	color: #8A2BE2;
}
header nav ul li button.green {
	color: #21cd73;
	padding: 0.9rem 1.25rem;
}
header nav ul li button.green:hover {
	background-color: #f5f5f5;
}
a.logo img {
    height: 52px;
}

#custom_page {
	padding: 30px 0 100px;
}
#custom_page img {
	margin-bottom:25px;
}
.wp-caption {
	max-width: 100% !important;
}
img.alignleft {
	float: left;
	margin: 0 15px 15px 0;
}
img.alignright {
	float: right;
	margin: 0 15px 15px 0;
}
footer {
	/* sticky footer */ margin-top: auto;
	left: 0;
	z-index: 99;
	width: 100%;
	height: 80px;
	box-shadow: 0 0 40px 0 rgba(82, 85, 114, 0.2);
	background-color: #ffffff;
	padding: 14px 0;
}
footer p {
	font-size: 1em;
	font-weight: 300;
	letter-spacing: -0.3px;
	color: #848a91;
	margin-bottom: 0;
}
footer .language {
	padding: 0 0;
	margin: 0 0;
	list-style: none;
}
footer .language li {
	display: inline-block;
	vertical-align: top;
	padding:0 10px;
}
footer .language li a {
	line-height: 20px;
	font-size: 14px;
	font-weight: 500;
	letter-spacing: -0.27px;
	color: #202437;
	text-transform: uppercase;
}
footer .language li a.active {
	font-weight: bold;
	text-decoration: underline;
}
footer .language li a:hover {
	text-decoration: underline;
}
footer .socials a.ico {
	display: inline;
	float: left;
	padding-left: 20px;
}
footer .socials a img {
	width: 20px;
	height: 20px;
	filter: brightness(0) saturate(100%) grayscale(100%) invert(48%) brightness(118%) contrast(119%);
}

/*
footer .socials {
	padding: 0 0;
	margin: 0 0;
	list-style: none;
}
footer .socials li {
	display: inline-block;
	vertical-align: top;
	padding:0 0 0 20px;
}
*/
footer .open_filter_btn {
	display:none;
}

#map_screen,
#main_map,
#main_map iframe {
	position: relative;
	height: calc(100vh - 75px - 80px);
	width: 100vw;
}
#map_screen .map_info_block {
	position: absolute;
	z-index: 98;
	top:113px;left:40px;
	width: 464px;
	max-height:calc(100vh - 176px);
	-webkit-max-height:calc(100vh - 176px);
}
.map_search,
#map_search {
	position: relative;
	height: 60px;
	border-radius: 30px;
	box-shadow: 0px 10px 40px 0 rgba(82, 85, 114, 0.2);
	background-color: #ffffff;
	padding:20px 22px;
	margin:0 0 15px;
}
.map_search input,
#map_search input {
	position: relative;
	height: 20px;
	width: 100%;
	background-color: transparent;
	padding: 0 0;
	line-height: 20px;
	font-size: 17px;
	color: #383838;
	border:none;
	outline: none;
}
.map_search input::placeholder,
#map_search input::placeholder {
	color: #929fb3;
}
#map_search button.gotosearch {
	height:60px;
	width: 60px;
	position: absolute;
	z-index: 3;
	top:0;
	right: 0;
	border-radius: 30px;
	border:1px solid transparent;
	background-color:transparent;
	background-image: url('../img/search_icon.png');
	background-position: center;
	background-repeat: no-repeat;
}
#map_search button.findme {
	height:60px;
	width: 60px;
	position: absolute;
	z-index: 3;
	top:0;
	right: -74px;
	border-radius: 30px;
	border:1px solid transparent;
	box-shadow: 0px 10px 40px 0 rgba(82, 85, 114, 0.2);
	background-color: #ffffff;
	background-image: url('../img/findme.png');
	background-position: center;
	background-repeat: no-repeat;
}
#map_search button.findme:hover {
	box-shadow: 0px 10px 40px 0 rgba(82, 85, 114, 0.5);
}

#mib_content {
	position: relative;
	box-shadow: 0 0 40px 0 rgba(82, 85, 114, 0.2);
	background-color: #ffffff;
	max-height: calc(100vh - 155px);
	overflow: hidden;
}
#mib_content .filters {
	padding:20px;
}
#mib_content .filters ul {
	padding:0 0;
	margin:0 0;
}
#mib_content .filters ul li {
	padding:0 0;
	margin:0 20px 20px 0;
	display: inline-block;
	vertical-align: top;
}
#mib_content .filters ul li:last-child {
	margin-right:0;
}
#mib_content .filters ul li input {
	display: none;
}
#mib_content .filters ul li input + label {
	display: flex;
	align-content: center;
	justify-content: center;
	-webkit-display: flex;
	-webkit-align-content: center;
	-webkit-justify-content: center;
	height: 50px;
	border-radius: 25px;
	padding:10px 15px;
	box-shadow: 0px 10px 30px 0 rgba(82, 85, 114, 0.15);
	background-color: #ffffff;
	line-height: 28px;
	font-size: 15px;
	color: #3f445d;
}
#mib_content .filters ul li input + label i {
	padding-top: 8px;
	right: 4px;
}
#mib_content .filters ul li input:checked + label {
	box-shadow: 0px 10px 40px 0 rgba(82, 85, 114, 0.2), inset 0px 5px 10px 0 rgba(0, 0, 0, 0.2);
	background-color: #0047ff;
}
#mib_content .filters ul li input + label span {
	line-height: 28px;
	font-size: 15px;
}
#mib_content .filters ul li input + label img {
	display: block;
	height: 22px;
	margin:3px 10px 0 5px;
}
#mib_content .filters ul li input + label .img_white {
	display: none;
}
#mib_content .filters ul li input:checked + label {
	color: #fff;
}
#mib_content .filters ul li input:checked + label .img_blue {
	display: none;
}
#mib_content .filters ul li input:checked + label .img_white {
	display: block;
}
#mib_content .filters .btn_exchange {
	display: flex;
	align-content: center;
	justify-content: center;
	-webkit-display: flex;
	-webkit-align-content: center;
	-webkit-justify-content: center;
	height: 40px;
	border-radius: 20px;
	padding:13px 10px;
	box-shadow: 0px 10px 30px 0 rgba(82, 85, 114, 0.15);
	background-color: #ffffff;
	outline: none;
	color: #3f445d;
	margin:0 auto 15px auto;
}
#mib_content .filters .btn_exchange i {
	font-size: 1.5em;
	color: royalblue;
}
#mib_content .subfilters {
	padding:10px 10px 10px 0;
	background: rgb(255,255,255);
	background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 89%, rgba(235,237,240,1) 100%);
}
#mib_content .subfilters .scroll_wrap {
	padding:10px 0 10px 30px;
	overflow-y: scroll;
}
#mib_content .subfilters ul {
	padding: 0 0;
	margin:0 0;
	list-style: none;
}
#mib_content .subfilters ul li {
	padding: 0 0;
	margin:0 0 20px;
	border-bottom: 1px solid #dadee2;
}
#mib_content .subfilters ul li .item {
	margin:0 0 20px;
}
#mib_content .subfilters ul li .item input {
	display:none;
}
#mib_content .subfilters ul li .item input + label {
	display: flex;
	justify-content: flex-start;
	align-content: flex-start;
	position: relative;
}
#mib_content .subfilters ul li .item input + label .marker {
	display: block;
	width: 35px;
	min-width: 35px;
	height: 46px;
	text-align: center;
	padding: 9px 0;
	position: relative;
	background-repeat: no-repeat;
	background-position: center;
	z-index: 3;
}
#mib_content .subfilters ul li .item input + label:before {
	content: '';
	display: block;
	width: 35px;
	min-width: 35px;
	height: 35px;
	border-radius: 50%;
	box-shadow: 0px 20px 40px 0 rgba(80, 96, 104, 0.5);
	position: absolute;
	left:0;
	top:0;
	z-index: 2;
}
#mib_content .subfilters ul li .item input + label .marker img {
	display: block;
	width: 17px;
	height: auto;
	margin:0 auto;
}
#mib_content .subfilters ul li .item input + label .marker.green {
	background-image: url('../img/markers/marker_bg_green.svg');
}
#mib_content .subfilters ul li .item input + label .marker.orange {
	background-image: url('../img/markers/marker_bg_orange.svg');
}
#mib_content .subfilters ul li .item input + label .marker.red {
	background-image: url('../img/markers/marker_bg_red.svg');
}
#mib_content .subfilters ul li .item input + label .text {
	padding:10px 0 0 17px;
	font-size: 18px;
	line-height: 20px;
	color: #202437;
}
#mib_content .subfilters ul li .item input:checked + label .text {
	text-decoration: underline;
}
#mib_content .subfilters ul li .item input + label .text b {
	font-weight: 900;
}
.gm-style .gm-style-iw-c {
	width:12px !important;
	height:12px !important;
	overflow: visible !important;
	top: 0 !important;
	left: 0 !important;
	transform: none !important;
	background-color: white;
	border-radius: 0 !important;
	padding: 0 !important;
	box-shadow: none !important;
}
.gm-svpc,
.gmnoprint,
.gm-style .gm-style-iw-t::after,
.gm-style .gm-style-iw-t button {
	display: none !important;
}
.myplacemarker {
	position: absolute;
	width: 12px;
	height: 12px;
	left:6px;
	top:6px;
}
.myplacemarker .ov4 {
	display: block;
	position: absolute;
	z-index: 5;
	left:-6px;
	top:-6px;
	width: 12px;
	height: 12px;
	border-radius: 50%;
	background: #1955f1;
}
.myplacemarker .ov3 {
	display: block;
	position: absolute;
	z-index: 4;
	left:-25px;
	top:-25px;
	border-radius: 50%;
	width: 50px;
	height: 50px;
	box-shadow: 0px 10px 30px 0 rgba(80, 96, 104, 0.4);
	background-color: #ffffff;
}
.myplacemarker .ov2 {
	display: block;
	position: absolute;
	z-index: 3;
	left:-130px;
	top:-130px;
	border-radius: 50%;
	width: 260px;
	height: 260px;
	opacity: 0.1;
	background-color: #1955f1;
}
.myplacemarker .ov1 {
	display: block;
	position: absolute;
	z-index: 2;
	left:-170px;
	top:-170px;
	border-radius: 50%;
	width: 340px;
	height: 340px;
	opacity: 0.1;
	background-color: #1955f1;
}

#mib_content .filters.choosen_filter {
	padding:20px;
	position: relative;
}
#mib_content .filters.choosen_filter input {
	display: none;
}
#mib_content .filters.choosen_filter label {
	display: block;
	height: 40px;
	border-radius: 25px;
	padding:5px;
	line-height: 30px;
	font-size: 15px;
	color: #1959ff;
	font-weight: 500;
}
#mib_content .filters.choosen_filter label img {
	display: inline-block;
	vertical-align: top;
	height: 22px;
	margin:4px 10px 0 0;
}
#mib_content .filters.choosen_filter .close_choosen {
	width: 39px;
	height: 39px;
	opacity: 0.5;
	position: absolute;
	right:20px;top:20px;
	background-color: #8e91a2;
	z-index: 3;
	border-radius: 50%;
	background-image: url('../img/icon_left_arrow.png');
	background-position: center;
	background-repeat: no-repeat;
}
#mib_content .filters.choosen_filter .close_choosen:hover {
	opacity: 1;
}

#mib_content .filters.choosen_filter + .subfilters {
	background: rgb(255,255,255);
}
#mib_content .filters.choosen_filter + .subfilters li {
	border-bottom: none;
}

#mib_content .reviews_wrap {
	overflow-y: scroll;
	padding:30px 10px 30px 25px;
}
#mib_content .reviews_wrap .top_info {
	margin:0 0 38px;
}
#mib_content .reviews_wrap .top_info .img_big {
	height: 210px;
	margin:0 0 14px;
	background-position: center;
	background-size: cover;
}
#mib_content .reviews_wrap .top_info .send_rate {
	width: 169px;
	height: 50px;
	border-radius: 25px;
	box-shadow: 0px 10px 31px 0 rgba(82, 85, 114, 0.15);
	border: solid 3px #1959ff;
	background-color: #fff;
	padding: 10px;
	font-size: 16px;
	line-height: 20px;
	font-weight: bold;
	text-align: center;
	color: #202437;
	float: right;
}
#mib_content .reviews_wrap .top_info .send_rate:hover {
	background-color: #1959ff;
	color: #fff;
}
#mib_content .reviews_wrap .top_info .rating {
	float: left;
	height: 50px;
	padding: 15px 0;
}
#mib_content .reviews_wrap .top_info .rating input {
	display: none;
}
#mib_content .reviews_wrap .top_info .rating input + label{
	display: inline-block;
	vertical-align: top;
	height: 20px;
	width: 20px;
	margin:0 5px 0 0;
	background-size: contain;
	background-image: url('../img/star_grey.png');
}
#mib_content .reviews_wrap .top_info .rating input + label.active{
	background-image: url('../img/star_red.png');
}
#mib_content .reviews_wrap .info {
	margin:0 -10px 50px;
}
#mib_content .reviews_wrap .info .col {
	width: 50%;
	float:left;
	padding: 0 10px;
}
#mib_content .reviews_wrap .img_small {
	height:220px;
	background-position: center;
	background-size: cover;
	position: relative;
	cursor: pointer;
}
#mib_content .reviews_wrap .img_small:hover:before {
	content: '';
	width: 100%;
	height: 100%;
	left:0;
	top:0;
	z-index: 2;
	background: rgba(0,0,0,.4);
	position: absolute;
}
#mib_content .reviews_wrap .img_small:hover:after {
	content: '';
	width: 100%;
	height: 100%;
	left:0;
	top:0;
	z-index: 3;
	background-image: url('../img/size_plus.png');
	background-position: center;
	background-repeat: no-repeat;
	position: absolute;
}
#mib_content .reviews_wrap .succes_msg {
	text-align: center;
	padding: 45px 0;
	font-size: 18px;
	font-weight: bold;
	color: #383838;
}
#mib_content .reviews_wrap .succes_msg img{
	display: block;
	margin:0 auto 15px;
}
#mib_content .reviews_list .reviews_title {
	font-size: 18px;
	font-weight: 900;
	color: #202437;
	margin:0 0 35px;
}
#mib_content .reviews_list .item {
	margin:0 0 40px;
}
#mib_content .reviews_list .top_line {
	margin:0 0 20px;
}
#mib_content .reviews_list .top_line img {
	margin:0 12px 0 0;
	float: left;
}
#mib_content .reviews_list .top_line p {
	font-size: 16px;
	font-weight: bold;
	line-height: 1.13;
	color: #202437;
	margin:0 0;
}
#mib_content .reviews_list .top_line p span {
	display: block;
	font-weight: 300;
}
#mib_content .reviews_list .rate .rating {
	float: left;
	height: 50px;
	padding: 0 20px 0 0;
}
#mib_content .reviews_list .rate .rating span {
	display: inline-block;
	vertical-align: top;
	height: 15px;
	width: 15px;
	margin:0 2px 0 0;
	background-size: contain;
	background-image: url('../img/star_grey.png');
}
#mib_content .reviews_list .rate .rating span.active{
	background-image: url('../img/star_green.png');
}
#mib_content .reviews_list .date {
	font-size: 16px;
	font-weight: 300;
	line-height: 1;
	color: #202437;
}
#mib_content .reviews_list #load_more_reviews {
	display: block;
	width: 100%;
	height: 20px;
	font-size: 16px;
	font-weight: bold;
	line-height: 20px;
	text-align: center;
	color: #21cd73;
}

#mib_content .choosen_place {
	padding:20px 20px 15px 25px;
	position: relative;
}
#mib_content .choosen_place + .reviews_wrap {
	background: rgb(255,255,255);
	background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 97%, rgba(235,237,240,1) 100%);
}
#mib_content .item_m {
	display: flex;
	justify-content: flex-start;
	align-content: flex-start;
	position: relative;
}
#mib_content .item_m .marker {
	display: block;
	width: 35px;
	min-width: 35px;
	height: 46px;
	text-align: center;
	padding: 9px 0;
	position: relative;
	background-repeat: no-repeat;
	background-position: center;
	z-index: 3;
}
#mib_content .item_m:before {
	content: '';
	display: block;
	width: 35px;
	min-width: 35px;
	height: 35px;
	border-radius: 50%;
	box-shadow: 0px 20px 40px 0 rgba(80, 96, 104, 0.5);
	position: absolute;
	left:0;
	top:0;
	z-index: 2;
}
#mib_content .item_m .marker img {
	display: block;
	height: 18px;
	margin:0 auto;
}
#mib_content .item_m .marker.green {
	background-image: url('../img/markers/marker_bg_green.svg');
}
#mib_content .item_m .marker.orange {
	background-image: url('../img/markers/marker_bg_orange.svg');
}
#mib_content .item_m .marker.red {
	background-image: url('../img/markers/marker_bg_red.svg');
}
#mib_content .item_m .text {
	padding:10px 0 0 17px;
	font-size: 18px;
	line-height: 20px;
	color: #202437;
}
#mib_content .item_m .text b {
	font-weight: 900;
}
#mib_content .item_m .text small {
	font-weight: 14x;
	display: block;
	margin-top:5px;
}

#mib_content .choosen_place .close_choosen {
	width: 39px;
	height: 39px;
	opacity: 0.5;
	position: absolute;
	right:20px;top:20px;
	background-color: #8e91a2;
	z-index: 3;
	border-radius: 50%;
	background-image: url('../img/icon_close.png');
	background-position: center;
	background-repeat: no-repeat;
}
#mib_content .choosen_place .close_choosen:hover {
	opacity: 1;
}

#mib_content .reviews_wrap .details {
	padding:0 0;
}
#mib_content .reviews_wrap .details .item_m {
	margin:0 0 20px;
}
#mib_content .reviews_wrap .details .address {
	margin:20px 0 25px;
	padding:0 0 0 50px;
	background-repeat: no-repeat;
	background-position: 7px top;
	background-image: url('../img/icon_address.png');
	font-size: 18px;
	color: #383838;
	line-height: 24px;
}
#mib_content .reviews_wrap .details .site {
	margin:20px 0 25px;
	padding:0 0 0 50px;
	background-repeat: no-repeat;
	background-position: 8px 5px;
	background-image: url('../img/icon_site.png');
	font-size: 18px;
	color: #383838;
	line-height: 24px;
}

#mib_content .new_place_wrap {
	padding: 40px 25px;
	overflow-y: scroll;
}
#mib_content .new_place_wrap .field_row {
	margin:0 0 25px;
}
#mib_content .new_place_wrap .field_row label {
	text-transform: uppercase;
	font-size: 12px;
	line-height: 14px;
	color: #3b72ff;
	display: block;
	padding: 0 15px;
}
#mib_content .new_place_wrap .field_row input {
	height: 40px;
	font-size: 18px;
	line-height: 20px;
	font-weight: 500;
	color: #6b778e;
	display: block;
	padding: 10px 15px;
	border:none;
	border-bottom:1px solid #ebeaeb;
}
#mib_content .new_place_wrap .field_row input.address_field {
	background-image: url('../img/icon_address2.png');
	background-position: right center;
	background-repeat: no-repeat;
	padding-right: 20px;
}
#mib_content .new_place_wrap .field_row input::placeholder {
	color: #d9dce1;
}
.select2-selection--single .select2-selection__placeholder {
	color: #d9dce1;
}

.jqselect select {
	display: none;
}
.jqselect,
#mib_content .new_place_wrap .selection {
	height: 40px;
	font-size: 18px;
	line-height: 20px;
	font-weight: 500;
	color: #6b778e;
	display: block;
	padding: 10px 15px;
	border:none;
	border-bottom:1px solid #ebeaeb;
	position: relative;
}
#mib_content .new_place_wrap .selection {
	width: 100%;
	border-bottom: none;
}
.jqselect .jq-selectbox__dropdown {
	background: #fff;
	z-index: 5;
	padding: 10px 15px;
	position: absolute;
	left:0;
	top:105%;
	width: 100%;
	box-shadow: 0 5px 10px rgba(0,0,0,.2);
}
.jqselect .jq-selectbox__dropdown li {
	line-height: 32px;
}
.select2-selection--single .select2-selection__arrow:after{
	top: 30%;
}
.select2-selection--single {
	color: #6b778e;
	padding-bottom: 0px;
	line-height: 1;
}

.jqselect .jq-selectbox__trigger {
	position: absolute;
	right:5px;
	top:50%;
	margin-top:-3px;
	border-top:5px solid #6b778e;
	border-bottom:5px solid transparent;
	border-left:5px solid transparent;
	border-right:5px solid transparent;
}
#mib_content .new_place_wrap .buttons .confirm {
	width: 180px;
	height: 50px;
	border-radius: 25px;
	background-color: #21cd73;
	padding: 15px;
	text-align: center;
	float: right;
	display: block;
	outline: none;
	border:1px solid #21cd73;
	font-size: 16px;
	line-height: 18px;
	font-weight: 500;
	color: #fefefe;
}
#mib_content .new_place_wrap .buttons .confirm.disabled,
#profile_wrap .profile .confirm.disabled,
form .buttons .confirm.disabled,
button .disabled,
.buttons .confirm.disabled {
	background-color: grey;
	border: none;
}
#mib_content .new_place_wrap .buttons .attach {
	float:left;
	position: relative;
	margin-left: 17px;
	background-image: url('../img/icon_photo.png');
	background-position: left center;
	background-repeat: no-repeat;
	background-size: 20px auto;
}
#mib_content .new_place_wrap .buttons .attach input {
	display: none;
}
#mib_content .new_place_wrap .buttons .attach label {
	display: block;
	padding: 15px 0 15px 30px;
	font-size: 14px;
	font-weight: 500;
	color: #6b778e;
}
.buttons button a {
	color: #fefefe;
}
.buttons button a:hover {
	text-decoration: none;
}

#profile_wrap .profile {
	float: left;
	width: 900px;
	box-shadow: 0 0 40px 0 rgba(82, 85, 114, 0.2);
	background-color: #ffffff;
}
#profile_wrap .profile .tabs {
	height: 56px;
	border-bottom: solid 2px #ebeaeb;
	width: 100%;
	list-style: none;
	padding: 0 0;
	margin:0 0;
}
#profile_wrap .profile .tabs li {
	cursor: pointer;
	display: block;
	float: left;
	width: 50%;
	font-size: 16px;
	line-height: 20px;
	padding: 17px;
	font-weight: 500;
	text-align: center;
	color: #383838;
	border-bottom: solid 2px transparent;
}
#profile_wrap .profile .tabs li.active {
	border-bottom: solid 2px #21cd73;
	font-weight: 500;
	color: #21cd73;
}
#profile_wrap .profile .tab {
	padding: 35px 25px 25px;
	display: none;
}
#profile_wrap .profile .tab.opened {
	display: block;
}
#profile_wrap .profile .user_details {
	display: block;
	margin:0 0 32px;
}
#profile_wrap .profile .user_details .img {
	display: block;
	width: 58px;
	height: 58px;
	float: left;
	margin:0 17px 0 0;
	background-size: cover;
}
#profile_wrap .profile .user_details .name {
	font-size: 18px;
	font-weight: bold;
	line-height: 1.13;
	color: #202437;
	margin:5px 0 0;
	float: left;
}
#profile_wrap .profile .user_details .name span {
	display: block;
	font-weight: 300;
	font-size: 16px;
	margin:5px 0 0;
}
#profile_wrap .profile .user_details .other {
	float:right;
	padding: 18px 0;
}
#profile_wrap .profile .user_details .other div {
	display: inline-block;
	line-height: 20px;
	font-size: 16px;
	font-weight: 300;
	color: #383838;
	padding:0 0 0 30px;
	margin:0 0 0 15px;
	background-position: left center;
	background-repeat: no-repeat;
}
#profile_wrap .profile .user_details .other .rate {
	background-image: url('../img/icon_star_orange.png');
}
#profile_wrap .profile .user_details .other .reviews {
	background-image: url('../img/icon_comments.png');
}

#profile_wrap .profile .user_fields {
	margin:0 0 24px;
}
#profile_wrap .profile .user_fields .item {
/*
	display: flex;
	-webkit-display:flex;
	padding-bottom: 15px;
*/
}
#profile_wrap .profile .user_fields .item:last-child {
	padding-bottom: 0;
}
#profile_wrap .profile .confirm,
form .buttons .confirm
{
	width: 330px;
	height: 52px;
	border-radius: 25px;
	background-color: #21cd73;
	padding: 15px;
	text-align: center;
	display: block;
	outline: none;
	border:1px solid #21cd73;
	font-size: 16px;
	line-height: 18px;
	font-weight: 500;
	color: #fefefe;
	margin:0 auto;
}
/*
#profile_wrap .profile .user_fields .item .label {
	display: block;
	clear: both;
	width: 100%;
	font-size: 1.1rem;
	line-height: 1.3rem;
	font-weight: 500;
	color: #495261;
	padding: 1rem 1.5rem 0.3rem 0;
}
#profile_wrap .profile .user_fields .item .value {
	border-radius: 8px;
	border: solid 2px #ebeaeb;
	width: 100%;
/ *	min-width: 64%; * /
	position: relative;
	margin-bottom: 0.5em;
}
#profile_wrap .profile .user_fields .item .value input {
	width: 100%;
	height: 50px;
	background: transparent;
	border:1px solid transparent;
	padding:15px;
	line-height: 1.3rem;
	font-size: 1.2rem;
	font-weight: 600;
	color: black;
}
#profile_wrap .profile .user_fields .item .value input:focus {
	background-color: wheat;
}
*/


/* fancy radiobutton, see security options at signin page */
section.radio_wrap {
  display: flex;
  flex-flow: row wrap;
}

section.radio_wrap > div.radio_wrap {
  flex: 1;
  padding: 0.5rem;
}

section.radio_wrap h2
{
	padding-top: 1.5rem;
	font-size: 1rem;
	font-weight: 900;
}
section.radio_wrap p
{
	font-size: 0.85rem;
	font-weight: 350;
}
section.radio_wrap input[type="radio"] {
  display: none;
}
section.radio_wrap input[type="radio"]:not(:disabled) ~ label {
  cursor: pointer;
}
section.radio_wrap input[type="radio"]:disabled ~ label {
  color: #bcc2bf;
  border-color: #bcc2bf;
  box-shadow: none;
  cursor: not-allowed;
}

section.radio_wrap label {
  height: 100%;
  display: block;
  background: white;
  border: 2px solid #20df80;
  border-radius: 20px;
  padding: 1rem 1rem 0.75rem 1rem;
  margin-bottom: 0;
  text-align: center;
  box-shadow: 0px 3px 10px -2px rgba(161, 170, 166, 0.5);
  position: relative;
}

section.radio_wrap input[type="radio"]:checked + label {
  background: yellowgreen;
  color: white;
  box-shadow: 0px 0px 20px rgba(0, 255, 128, 0.75);
}
section.radio_wrap input[type="radio"]:checked + label::after {
  color: #3d3f43;
  font-family: "Font Awesome 5 Pro";
  font-weight: 900;
  border: 2px solid #1dc973;
  content: "\f00c";
  font-size: 24px;
  position: absolute;
  top: -25px;
  left: 50%;
  transform: translateX(-50%);
  height: 50px;
  width: 50px;
  line-height: 50px;
  text-align: center;
  border-radius: 50%;
  background: white;
  box-shadow: 0px 2px 5px -2px rgba(0, 0, 0, 0.25);
}

section.radio_wrap input[type="radio"]#login_safety_1:checked + label {
  background: goldenrod;
  border-color: goldenrod;
}
section.radio_wrap input[type="radio"]#login_safety_2:checked + label {
  background: lightcoral;
  border-color: lightcoral;
}

@media only screen and (max-width: 700px) {
  section {
    flex-direction: column;
  }
	#custom_page {
		padding: 65px 0 100px;
	}
}






/*
.radio_wrap
{
	clear: both;
	padding-bottom: 3rem;
}
.radio_wrap input[type=radio],
.radio_wrap label
{
	float: left;
	clear: none;
	display: block;
	margin-top: 0;
}
.radio_wrap input[type=radio]
{
	width: 1rem;
	margin-right: 0.7rem;
	margin-top: 0.3rem;
}
.radio_wrap label:hover
{
	color: green;
}

.radio_button input[type=radio] {
    height: 2.2em;
    -ms-transform: scale(1.6); /* IE 9 */
    -webkit-transform: scale(1.6); /* Chrome, Safari, Opera */
    transform: scale(1.6);
}
*/
#profile_wrap .profile .user_fields .item .value label {
	color: #83878c;
	margin-bottom: 0;
}
#profile_wrap .profile .user_fields .item .value .openpass {
	display: block;
	width: 50px;
	height: 50px;
	z-index: 3;
	background-image: url('../img/openpass.png');
	background-repeat: no-repeat;
	background-position: center;
	position: absolute;
	top:0;
	right: 0;
	cursor: pointer;
}

#profile_wrap .infoblocks {
	float: right;
	width: 295px;
}
#profile_wrap .infoblocks .block {
	display: flex;
	align-items: center;
	justify-items: center;
	-webkit-display: flex;
	-webkit-align-items: center;
	-webkit-justify-items: center;
	padding: 10px;
	min-height: 85px;
	border-radius: 10px;
	box-shadow: 0px 10px 20px 0 rgba(0, 0, 0, 0.1);
	font-size: 12px;
	font-weight: bold;
	line-height: 1.5;
	letter-spacing: 1.72px;
	text-align: center;
	color: #ffffff;
	text-transform: uppercase;
	margin:0 0 30px;
}
#profile_wrap .infoblocks .block.blue {
	background-color: #1959ff;
}
#profile_wrap .infoblocks .block.green {
	background-color: #21cd73;
}
#profile_wrap .infoblocks .block.orange {
	background-color: #e09900;
}


#profile_wrap .item_m {
	display: flex;
	justify-items: flex-start;
	align-items: flex-start;
	-webkit-display: flex;
	-webkit-justify-items: flex-start;
	-webkit-align-items: flex-start;
	position: relative;
	margin:0 0 50px;
}
#profile_wrap .item_m .marker {
	display: block;
	width: 35px;
	min-width: 35px;
	height: 46px;
	text-align: center;
	padding: 9px 0;
	position: relative;
	background-repeat: no-repeat;
	background-position: center;
	z-index: 3;
}
#profile_wrap .item_m:after {
	content: '';
	display: block;
	position: absolute;
	right:5px;
	top:50%;
	margin-top:-3px;
	border-top:5px solid #6b778e;
	border-bottom:5px solid transparent;
	border-left:5px solid transparent;
	border-right:5px solid transparent;
}
#profile_wrap .item_m:before {
	content: '';
	display: block;
	width: 35px;
	min-width: 35px;
	height: 35px;
	border-radius: 50%;
	box-shadow: 0px 20px 40px 0 rgba(80, 96, 104, 0.5);
	position: absolute;
	left:0;
	top:0;
	z-index: 2;
}
#profile_wrap .item_m .marker img {
	display: block;
	height: 18px;
	margin:0 auto;
}
#profile_wrap .item_m .marker.green {
	background-image: url('../img/markers/marker_bg_green.svg');
}
#profile_wrap .item_m .marker.orange {
	background-image: url('../img/markers/marker_bg_orange.svg');
}
#profile_wrap .item_m .marker.red {
	background-image: url('../img/markers/marker_bg_red.svg');
}
#profile_wrap .item_m .text {
	padding:5px 0 0 17px;
	font-size: 18px;
	font-weight: 500;
	color: #6b778e;
}
#profile_wrap .item_m .text b {
	font-weight: 900;
}
#profile_wrap .item_m .text small {
	font-size: 16px;
	font-weight: 300;
	color: #1959ff;
	display: block;
	margin-top:5px;
}

/*-------------*/

/* adjusting styles */

/*-------------*/

header nav ul li a,
.green.nav-link {
	font-size: 1.5em;
	font-weight: 700;
}

i.icon-switch2 {
	font-size: 0.9em;
	top: -3px;
}

header nav ul li button.green {
	padding: 0.7rem 1.25rem;
}

footer div {
	padding-left: 20px;
}
footer div, footer img, footer p {
	display: block;
	float: left;
}
footer .copyright {
	width: 300px;
}
footer .credits img {
	margin-right: 20px;
	padding-left: 20px;
}
footer .credits p {
	margin-right: 25px;
}
footer .credits a {
	color: #848a91;
}
#custom_page embed.confidentiality
{
	width: 75vw;
	height: calc(100vh - 75px - 80px - 105px);
}
footer p.confidentiality {
	padding-top: 0px;
	padding-left: 87px;
}
footer p.confidentiality, footer p.confidentiality a {
	font-size: 1em;
}
footer p.confidentiality a {
	font-weight: bolder;
}
footer .socials {
	width: 580px;
}

footer .contact_us {
	width: 256px;
}

.div_reset_password {
	margin: 0 auto 0 36%;
}

.map_preloader_wrap {
  position: fixed;
  background: #fff;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 9999;
}

.map_preloader_spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}


.div_directions_switch
{
	display: block;
	float: left;
	visibility: visible;
	padding: 8px 10px;
	width: 35px;
	height: 30px;
	background-color: rgb(255, 255, 255);
	box-shadow: rgba(82, 85, 114, 0.2) 0px 0px 40px 0px;
}
.i_switch_directions
{
	cursor:pointer;
}
.i_switch_directions.icon-shrink
{
	display: block;
}
.i_switch_directions.icon-enlarge
{
	display: none;
}


.div_table
{
	display: table;
	width: 100%;
}
.div_title
{
	display: table-caption;
	text-align: center;
	font-weight: bold;
	font-size: larger;
}
.div_heading
{
	display: table-row;
	font-weight: bold;
	text-align: center;
	background-color: white;
}
.div_row
{
	display: table-row;
}
.div_cell
{
	display: table-cell;
	border: solid lightslategray;
	border-width: thin;
	padding: 3px 1px 7px 4px;
}
.div_heading .div_cell
{
	border: none;
	text-align: left;
}
.div_cell p
{
	float: none;
	text-align: left;
	font-size: 0.95rem;
	margin: 0;
	color: black;
}
.div_cell p.past
{
	font-weight: 100;
}
.div_cell p.today
{
	font-weight: 900;
}
.div_cell p.future
{
	font-weight: 400;
}

.div_cell.div_meal_item:hover
{
	cursor: copy;
}

.div_cell.div_meal_item:hover
{
	background-color: #1958fb;
}
.div_cell.div_meal_item:hover p,
.div_meal_item.selected:hover,
.div_meal_item.selected:hover p
{
	color: white;
}

.div_cell.div_meal_item.selected
{
	background-color: green;
}

.div_cell.div_meal_item_old p
{
	color:lightgrey;
}
.div_cell.div_meal_item_old.selected p
{
	color: darkgreen;
}

.div_cell.div_meal_item.selected p
{
	color: white;
}

.div_meal_item.selected:hover,
.div_meal_item.selected:hover p
{
	cursor: no-drop;
	background-color: red;
}

.div_cell .smaller p
{
	padding-top: 3px;
	padding-bottom: 3px;
	font-size: 0.7rem;
}

p.smaller, span.smaller
{
	padding-top: 3px;
	padding-bottom: 3px;
	font-size: 0.85rem;
	font-weight: normal;
}

.div_row.div_course_title
{
	background-color: white;
}

.div_cell p.p_totals
{
	padding-top: 2px;
	padding-bottom: 5px;
}

.tab .buttons
{
	padding-bottom: 35px;
}

div.sticky
{
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: white;
  padding: 0;
}

div.sticky .div_table
{
  height: 182px;
}

.hidden {
  display: none;
}

.div_date_wrap
{
	clear: both;
	min-height: 79px;
}

.div_date_wrap .calendar-item-icon
{
	display: block;
	float: left;
}

.div_date_wrap .div_date
{
	display: block;
	float: left;
	margin-left: 13px;
	width: 220px;
}

.div_date_wrap .div_date:last-child
{
	width: 510px;
}

.div_date_wrap .div_date i
{
	display: block;
	float: left;
	font-size: 4rem;
	padding-right: 10px;
}

.div_date_wrap.future,
.div_date_wrap.past.opened,
.div_date_wrap.past .calendar-item-icon-day,
.div_date_wrap.past.opened .calendar-item-icon-date
{
	font-weight: 400;
}

.div_date_wrap.today,
.div_date_wrap.today .calendar-item-icon-day,
.div_date_wrap.today .calendar-item-icon-date
{
	font-weight: 700;
}

.div_date_wrap,
.div_date_wrap.past .div_date,
.div_date_wrap.past .calendar-item-icon-date
{
	font-weight: 100;
	color: lightgrey;
}

.div_date_wrap.today .calendar-item-icon-date
{
    color: #535c69;
}

.div_date_wrap
{
	cursor: pointer;
	border-bottom: solid lightslategray;
	border-width: thin;
	margin-bottom: 20px;
	color:grey;
}

.div_date_wrap.today > p.div_date:before
{
	color:green;
}

.div_date_wrap > p.div_date:before
{
	display: block;
	float: left;
    content: '\E9C7';
    font-family: "icomoon";
    color:grey;
    display: inline-block;
    font-size: 1rem;
    vertical-align: middle;
    line-height: 1;

    top: 0.75rem;
    margin-top: 0.25rem;
    margin-right: 0.5rem;
    left: 1.25rem;

    transition: -webkit-transform 0.25s ease-in-out;
    -webkit-transition: -webkit-transform 0.25s ease-in-out;
    transition: transform 0.25s ease-in-out;
    transition: transform 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.div_date_wrap.opened > p.div_date:before
{
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
}

.plate_items_wrapper
{
	padding-left: 69px;
}

.widget-first-item .calendar-item-icon {
    top: 20px!important;
}
.calendar-item-icon {
    background-color: #2fc7f7;
    display: block;
    height: 57px;
    left: 19px;
    top: 12px;
    width: 53px;
}
.calendar-item-icon-day {
    color: #fff;
    display: block;
    font-size: 1rem;
    height: 1.2rem;
    line-height: 1.3rem;
    text-align: center;
}
.calendar-item-icon-date {
    background-color: #fff;
    display: block;
    font-size: 1.7rem;
    height: 2.1rem;
    line-height: 1.9rem;
    margin: 0 4px;
    text-align: center;
}
